#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../images/home.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.round {
  width: 160px;
}
